body{
    background-image: url(bg2.jpg);
    background-repeat: no-repeat;
    background-size: 2000px;
}
form{
    border:solid 3px black;
    width: 600px;
    background-color: whitesmoke;
    margin-left: 300px;
}
h1{
    text-align: center;
    color: black;
}
label{
    font-size: 45px;
   color: black;
   font-size: bold;

}
input{
    width: 10px;
    height: 10px;
    margin-bottom: 10px;
}
button{
    height: 40px;
    width: 110px ;
    border-radius: 20px;
}